pandas
pyarrow
numpy
requests
python-dotenv
geopandas
pyogrio
shapely
rasterio
networkx
osmnx
momepy
h3
lightgbm
scikit-learn
shap
fastapi
uvicorn
streamlit
pydeck
jupyterlab
ruff
nbstripout
kaggle
gnss-lib-py
pyopensky
